@import 'globals';

.home {
  &__banner {
    background-color: $transparentBlack;
    height: 220px;
    margin: 30px auto;
    padding-bottom: 30px;
    text-align: center;
    width: 70%;
  }

  &__banner-heading {
    color: #FFF;
    display: inline-block;
    font-size: 70px;
    margin-bottom: 10px;
  }

  &__tagline {
    font-size: 30px;
  }

  &__main-container {
    display: flex;
  }

  &__lab-select {
    padding: 15px;
    margin-top: 10px;

    table {
      width: 50%;
      display: inline-table;
    }
  }

  &__green-highlight {
    color: $defaultLinkColor;
  }
}

.users {
  margin: 0 auto;
  width: 600px;

  &__form {
    text-align: center;
  }

  &__table {
    margin: 0 auto;
  }

  &__row {
    &--active {
      color: blue;
    }
  }
}
